@import "vars"
@import "libs"
@import "fonts"
@import "global"



.header
  position: relative
  height: 100vh
  &__slider
    &-item
      height: 100vh
      position: relative
  .slider
    &-item1
      background: url('../img/header-bg1.jpg') center/cover	no-repeat	
    &-item2
      background: url('../img/header-bg2.jpg') center/cover no-repeat
    &-item3
      background: url('../img/header-bg3.jpg') center/cover no-repeat
    &-item4
      background: url('../img/header-bg4.jpg') center/cover	no-repeat


.header__slider>.slick-list
  height: 100vh

.slider-item__info
  position: absolute
  right: 80px
  bottom: 116px
  text-align: right
  width: 100%
  &-title
    font-weight: 800
    font-size: 80px
    line-height: 86px
    margin-bottom: 48px
  &-text
    display: inline-block
    width: 100%
    font-weight: 800
    font-size: 40px
    line-height: 50px
    margin-bottom: 20px
    span
      font-weight: 100
  &-suptitle
    margin-bottom: 5px
  &-surf, &-sleep, &-shop
    top: 311px
  &-shop
    max-width: 480px
    left: 133px
    text-align: left
  &-right
    max-width: 350px
    left: 133px
    text-align: left
    top: 40%
  &-surf>.slider-item__info
    &-text1, &-text2, &-text3, &-text4, &-text5
      opacity: 0
      transition: all 0.8s
      position: absolute
      right: 1%
      font-weight: 800
      font-size: 40px
      line-height: 50px
      margin-bottom: 20px
      span
        font-weight: 100

.slider-arrows
  position: absolute
  z-index: 1
  top: 40px
  right: 80px
  cursor: pointer
  &__left
    right: 145px

.slider-dots
  position: absolute
  right: 90px
  bottom: 40px
  max-width: 960px
  width: 100%
  .slick-track
    width: 960px
    display: flex
    justify-content: space-between
.slick-current
  .dots-box
    border-color: $green
.dots-box
  display: flex
  justify-content: space-between
  align-items: center
  width: 200px
  border-top: 4px solid #fff
  padding-top: 6px
  &__number
    font-weight: 800
    font-size: 24px
    line-height: 34px
  &__name
    font-weight: 300
    line-height: 19px
    text-transform: none

.header__title
  position: absolute
  left: -0.97%
  right: 68.54%
  top: -0.53%
  z-index: 1
  font-weight: 800
  font-size: 200px
  line-height: 156px
  opacity: 0.07
  max-width: 467px

.header__aside
  position: absolute
  height: 100%
  left: 0
  top: 0
  z-index: 2

.menu__list
  padding: 0
  margin-top: 30%
  height: 353px
  display: flex
  flex-direction: column
  justify-content: space-between
  a, img, span
    margin: 0 auto
    display: block
    text-align: center
    font-weight: 500
    font-size: 12px
    line-height: 24px
    letter-spacing: 3px
    text-transform: none

.header__vertical-line
  height: 100vh
  width: 1px
  position: absolute
  background-color: #fff
  opacity: 0.25
  left: 168px
  z-index: 1
  
.header__search
  margin-top: 38px
  text-align: center

.header__date
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: 70px
  font-weight: 800
  font-size: 72px
  line-height: 64px
  text-align: center
  span
    display: block
    margin-top: 10px
    font-weight: 300
    font-size: 16px
    line-height: 16px
    text-align: center
    letter-spacing: 1.4px

.header
  &__box-location
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 40px
  &__location
    font-weight: 300
    font-size: 12px
    line-height: 14px
    text-align: center
    letter-spacing: 1.05px
    padding-left: 20px
    position: relative
    text-transform: none
    &::before
      content: ''
      position: absolute
      width: 11px
      height: 13px
      left: 0
      background: url('../img/marker.svg')

.header__arrows
  position: absolute
  bottom: 42px
  left: 209px

.surf
  padding: 157px 0 210px 0
  position: relative
  height: 1950px
  &__coordinates
    position: absolute
    right: 4%
    width: 0
    top: 700px
    white-space: nowrap
    font-weight: normal
    font-size: 18px
    line-height: 22px
    text-align: center
    letter-spacing: 10px
    text-transform: uppercase
    transform: rotate(-90deg)
    opacity: 0.5
  &__bg-image
    position: absolute
    right: 0
    top: 220px

.surf__beaches
  position: relative
  &-container-map
    position: relative
    height: 760px
  &-map
    position: absolute
    width: 1200px
    top: 120px
    left: 50%
    transform: translateX(-50%)

.surf__popup
  position: absolute
  width: 100%
  top: 120px
  left: 50%
  transform: translateX(-50%)
  &-container1, &-container2, &-container3, &-container4, &-container5
    opacity: 0
    transition: all 1s
  &-container1
    position: absolute
    top: 94px
    left: 50%
    transform: translateX(-249%)
  &-container2
    position: absolute
    top: 290px
    left: 50%
    transform: translateX(172%)
  &-container3
    position: absolute
    top: 160px
    left: 50%
    transform: translateX(119%)
  &-container4
    position: absolute
    top: 22px
    left: 50%
    transform: translateX(-75%)
  &-container5
    position: absolute
    top: 340px
    left: 50%
    transform: translateX(-28%)
  &-box
    position: relative
    width: 210px
    height: 180px
    background-color: rgba(#0F1010, .7)
    border-radius: 6px
    padding: 15px
  &-title
    font-weight: 800
    font-size: 18px
    line-height: 30px
    text-transform: uppercase
    position: relative
    display: flex
    justify-content: space-between
    &::after
      content: ''
      position: absolute
      width: 80px
      height: 1px
      background-color: $green
      top: 35px
      left: 0
  &-suptitle
    font-weight: normal
    font-size: 16px
    line-height: 25px
    margin-top: 10px
    text-transform: none
  &-weather
    display: flex
    justify-content: space-between
    margin-top: 15px
    &-all
      max-width: 50px
      font-weight: 800
      font-size: 16px
      line-height: 23px
      text-align: center
      img
        display: block
        margin: 0 auto
        margin-bottom: 5px
      span
        display: block
        font-weight: 300
        font-size: 10px
        line-height: 15px
        margin: 0 auto
  &-drop1, &-drop2, &-drop3, &-drop4, &-drop5
    position: absolute
    left: 50%
    bottom: -40px
    transform: translateX(-50%)

.surf
  &-slider
    padding-top: 110px
    .slick-slide:nth-child(4n+1)
      .surf-box
        margin-top: 32px
    .slick-slide:nth-child(4n+3)
      .surf-box
        margin-top: 90px
  .slider-arrows
    top: 50px
    opacity: 0.25 !important
  &-box
    &__inner  
      background-color: rgba(#1c2121, 0.85)
      min-height: 750px
      padding: 75px 0 0 40px
      position: relative
      transition: all 0.5s
      &:hover
        background-color: rgba(#1c2121, 0.2)
        .surf-box__inner-btn
          display: block
      &-btn
        display: none
    &__title
      max-width: 200px
      font-weight: 800
      font-size: 40px
      line-height: 36px
      text-transform: uppercase
    &__location
      font-weight: normal
      font-size: 18px
      line-height: 22px
      letter-spacing: 8px
      text-transform: uppercase
      position: absolute
      width: 0
      height: 0
      left: 40px
      bottom: 80px
      white-space: nowrap
      transform: rotate(-90deg)
    &__inner-btn
      position: absolute
      bottom: 0
      left: 0
      right: 0
      text-align: center


.travel
  padding: 157px 0 210px 0
  position: relative
  min-height: 1650px
  height: 100%
  &__slider
    margin-top: 40px
    .slick-list
      height: 1100px
  &-slider__head
    background-size: 75% 
    background-position: left
    background-repeat: no-repeat
    position: relative  
    min-height: 780px
.slider-item__info-travel
  top: 12%
  &-right
    max-width: 350px
    left: 133px
    top: 85%
    text-align: left 
.footer__slider-info-travel
  top: 850px
.travel__img 
  img
    position: absolute
    display: block
    right: 0
  &-airplane
    top: 750px
  &-coctail
    top: 72%
.travel__inner-btn
  position: absolute
  left: 50%
  transform: translateX(-50%)
  top: 83%

.sleep
  padding: 160px 0 50px 0
  position: relative
  min-height: 1500px
  height: 100%
  &__slider
    margin-top: 40px
    .slick-list
      height: 1100px
  &-slider__head
    background-size: 75% 
    background-position: left
    background-repeat: no-repeat
    position: relative  
    min-height: 780px
  .sleep-slider-item__info-text
    display: inline
.slider-item__info-sleep
  top: 12%
  &-right
    width: 900px
    height: 5px
    left: 133px
    top: 85%
    text-align: left 
.footer__slider-info-sleep
  top: 850px
.sleep__img  
  img
    position: absolute
    display: block
    right: 0
  &-hammock
    width: 35%
    top: 45%
    z-index: -1
  &-flowers
    top: 52%
    z-index: -1
.sleep__inner-btn
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: 5%
.slider-item__info-stars
  display: inline-block
  font-size: 25px
  line-height: 50px
  vertical-align: top
  margin-left: 20px
  color: $green
  text-shadow: 0 0 10px $green
.sleep__slider-plusminus
  font-size: 40px
  color: $green
  text-shadow: 0 0 10px $green
  padding-left: 200px



.shop
  padding: 157px 0 210px 0
  position: relative


  
@import "media"